<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.harvies.charon.mybatis.mapper.UserMapper">
    <!-- 开启二级缓存/> -->
    <cache/>
    <select id="getById" resultType="io.github.harvies.charon.mybatis.entity.User" useCache="true">
        select *
        from user
        where id = #{id}
    </select>

    <select id="getById2" resultType="io.github.harvies.charon.mybatis.entity.User" useCache="true">
        select *
        from user
        where id = #{id}
    </select>

    <select id="getByName" resultType="io.github.harvies.charon.mybatis.entity.User">
        select *
        from user
        where `name` = #{name}
    </select>

    <!-- flushCache 刷新缓存 -->
    <insert id="save" flushCache="true" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO user (name, age, email)
        VALUES (#{name}, #{age}, #{email});
    </insert>
    <delete id="deleteById">
        delete
        from user
        where id = #{id}
    </delete>

    <select id="selectByIdList" resultType="io.github.harvies.charon.mybatis.entity.User">
        select * from user where id in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="selectByIdListAndName" resultType="io.github.harvies.charon.mybatis.entity.User">
        select * from user where id in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and name=#{name}
    </select>
</mapper>
