<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.harvies.eris.spring.namespace.data.mybatis.mapper.UserMapper">
    <select id="findById" resultType="io.github.harvies.eris.spring.namespace.data.mybatis.model.User">
        select *
        from user
        where id = #{id}
    </select>
    <insert id="save">
        INSERT INTO user (name, age, email)
        VALUES (#{name}, #{age}, #{email});
    </insert>
</mapper>
