# Use root/example as user/password credentials
version: '3.1'

services:
  webstack:
    image: arvon2014/webstack-laravel:v1.2.1
    ports:
      - 83:8000
    environment:
      LOGIN_COPTCHA: "false"
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: test
      DB_USERNAME: root
      DB_PASSWORD: Lisi@123
    command: ['/entrypoint.sh','new-server']
    networks:
      - default
networks:
  default:
    external:
      name: dev_overlay
