# Use root/example as user/password credentials
version: '3.7'

services:
  elastic-job-lite-console:
    image: harvies/elastic-job-lite-console:latest
    volumes:
#      - logs:/opt/elastic-job-lite-console/logs
      - config:/root/.elastic-job-console
    environment:
      - ROOT_USERNAME=root
      - ROOT_PASSWORD=lisi@123
    ports:
      - 8899:8899
    restart: always
    deploy:
      replicas: 1
      placement:
        constraints:
          - engine.labels.host == tencent
    networks:
      - default
volumes:
#  logs:
  config:
networks:
  default:
    external: true
    name: dev_overlay
