<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.harvies.charon.jdbc.mapper.UserMapper">
    <update id="createTableIfNotExists">
        CREATE TABLE IF NOT EXISTS t_user
        (
            `id`       BIGINT(20) unsigned NOT NULL AUTO_INCREMENT,
            `username` varchar(50) DEFAULT NULL,
            `mobile`   varchar(50) DEFAULT NULL,
             biz_id BIGINT(20) NULL DEFAULT NULL COMMENT 'bizId',
             deleted BIGINT(20) unsigned NOT NULL DEFAULT 0 NULL COMMENT 'deleted',
            `features` json        DEFAULT NULL,
            PRIMARY KEY (`id`)
            ) ENGINE = InnoDB;
    </update>

    <update id="truncateTable">
        TRUNCATE TABLE t_user;
    </update>

    <update id="dropTableIfExists">
        DROP TABLE IF EXISTS t_user;
    </update>
</mapper>
